*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, p{
    margin: 0;
    padding: 0;
}
.rows{
   display: grid;
   grid-template-columns: 310px 320px;
   justify-content: center;
   box-shadow: 0 0 44px #878787;
   padding: 20px 0;
    
}
.product-left > img{
    max-width: 300px;
    max-height: 400px;
    box-shadow: 0 0 13px #bdbdbd;
}
.all-single-product {
    display: flex;
    box-shadow: 0 0 44px #878787;
    width: 301px;
}
.single-product {
    flex-basis: 75px;
}
.single-product img{
    width: 100%;
    border: 2px solid black;
    cursor: pointer;
    box-shadow:inset 0 0 8px black;
}
.all-text {
    display: grid;
    grid-row-gap: 10px;
}
h1{
    font-family: fantasy;
    font-size: 36px;
    color: tomato;
}
h3{
    color: #93001a;
}
p{
    font-weight: 500;
    cursor: pointer;
    text-align: justify;
    color: #797979;
}
select {
    word-wrap: normal;
    width: 105px;
    height: 30px;
    border: 1px solid blue;
    color: rgb(12, 12, 194);
    margin-bottom: 5px;
}
strong {
    margin-bottom: 5px;
    font-size: 1.3rem;
}

input[type="number"] {
    width: 50px;
    text-align: center;
    outline: none;
    border: 1px solid tomato;
    color: tomato;
}
a {
    background-color: tomato;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
    margin-left: 9px;
    text-decoration: none;
    transition: .2s ease;
    user-select: none;
}
a:hover {
    color: white;
    text-decoration: none;
    font-weight: 500;
}
